<!-- Required meta tags -->

    <meta charset="utf-8">
    <!-- correction for A-Frame camera -->
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
   <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" initial-scale=1, shrink-to-fit=no">

   <!-- browser theme color -->
   <meta name="theme-color" content="#3eb23a" />

   <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
   <!-- Bootstrap (3.3) Glyphicons CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-glyphicons.css" />        
 
   <!-- Main custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
 
  <!-- OPENLAYERS -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
      <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
      
      <!-- ol-ext -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.css" />
      <script type="text/javascript" src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"></script>


  <!-- SEMANTIC UI -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">

  <!-- AFRAME -->
      <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>

<title>Node MVC Template</title>

