<!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- correction for A-Frame camera -->
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
   <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" initial-scale=1, shrink-to-fit=no">
   <!-- browser theme color -->
   <meta name="theme-color" content="#3eb23a" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap (3.3) Glyphicons CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-glyphicons.css" />        
    <!-- Main custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

  
  <!-- OPENLAYERS -->
  <link rel="stylesheet" href="https://openlayers.org/en/v5.2.0/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v5.2.0/build/ol.js"></script>


<title>Node MVC Template</title>

