<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
    <img src="/static/img/icon360.png" width="30" height="30" class="d-inline-block align-top" alt="">
    MVC Template
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item active">
        <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          basics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/basics">basics</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          tests
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tests/jquery">jquery</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          forms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/form1main">form1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form2/recordlist/10">form2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form3maps/createg/franco/blabla/5/41/12">form3(create get)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form3maps/create">form3.1(map coords)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form3maps/createm">form3.2(from marker)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form3maps/recordlistpag/0/8/5">points list</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form3maps/recordsmap">records map</a> 
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          maps
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/maps1/basemap">OL Base Map</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          cloudinary
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cloudinary/form1">Form 1</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/cloudinary/gallery">Gallery</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/cloudinary/gallerypag/0/3/5">GalleryPag</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login/loging">Login</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/login/registerg">Register</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/login/updateg">Update</a>
            <div class="dropdown-divider"></div>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ajax
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/ajax/ajaxGet">Ajax Get</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/ajax/ajaxPost">Ajax Post</a>
            <div class="dropdown-divider"></div>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mosca MQTT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/mosca/mosca1broker">Mosca1 broker</a>
          <a class="dropdown-item" href="/mosca/mosca1sub">Mosca1 subscriber</a>
            <div class="dropdown-divider"></div>
        </div>
      </li>
      
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MQTT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/mqtt/mqtt1">test 1</a>

            <div class="dropdown-divider"></div>
        </div>
      </li>

    </ul>
  </div>
</nav>
