nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
    <img src="/static/icon360.png" width="30" height="30" class="d-inline-block align-top" alt="">
    DeloHerokuTest
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item active">
        <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/products">products</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          galleries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/gallery1">gallery1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/gallery2">gallery2</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          forms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/form1">form1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/form2">form2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mapsform">mapsform</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/drivestore">drivestore</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          codes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/showjson">showjson</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/addperson">addperson</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mongo1">mongo1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/postdata">postdata</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/postmongo">postmongo</a>
          
        </div>
      </li>
      
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          maps
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/maps1">maps1</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/maps2">maps2</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mapmongo">mapmongo</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mapmongo2">mapmongo2</a>   
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mapmongo3">mapmongo3</a>  
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/leaflet">leaflet</a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/openstreetmap">openstreetmap</a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/olform">o.l. form</a> 
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/olmain">o.l. main</a> 
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/olkml">o.l. kml</a> 
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          a-frame
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/vrviewer">VR viewer</a>
                    <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframe">a-frame</a> 
                    <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframevid">a-frame video</a>
                    <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframecontr">a-frame controller</a>
                    <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframetour">a-frame tour</a>
                    <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframetest">a-frame test</a>
                    <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframelinks">a-frame links</a>
                       <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframethr">a-frame three</a>
                       <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframethr2">a-frame three2</a>
                       <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframear">a-frame AR</a> 
                       <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframe9">a-frame 9.0</a> 
                       <div class="dropdown-divider"></div>         
             <a class="dropdown-item" href="/aframeleap">a-frame leap</a>
        </div>       
        
          
      </li>
      
   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          three.js
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/threehello">hello world</a>
                    <div class="dropdown-divider"></div>    
             <a class="dropdown-item" href="/threeobj">import obj</a>
                    <div class="dropdown-divider"></div>                     
        </div>            
     </li> 
     
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          angular
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/angular1">angular 1</a>
                    <div class="dropdown-divider"></div>                     
        </div>            
     </li> 
     
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          cloudinary
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/clupload">upload widjet</a>
                    <div class="dropdown-divider"></div>    
             <a class="dropdown-item" href="/clgallery">gallery</a>
                    <div class="dropdown-divider"></div>      
             <a class="dropdown-item" href="/clprodgal">product gallery</a>
                    <div class="dropdown-divider"></div>   
        </div>            
     </li> 
   
   
      <li class="nav-item">
        <a class="nav-link disabled" href="#">disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"> 
  
      <input id="inputWord" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <button id="search" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
     </form>
  </div>
</nav>

<script>
$("#search").click(function() {
var inputWord = $('#inputWord').val();
alert(inputWord);
window.location.href = '/search/' + inputWord;
});
</script>
