<!-- <p class="lead">AJAX POST (with Express)</p> -->
 <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>


<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
  // alert("getPassEjs = " + getPassEjs);
  // alert(getPassEjs[0]);
  // alert(getPassEjs[0]["puppyTestInfos"]);
</script>


<br><br>
<hr class="my-4">

<h4>1) Verifies that JQuery works...</h4>


<script>
$(document).ready(function(){
 $("#msgid").html("This is Hello World by JQuery!!!!!");
});
</script>

This is Hello World by HTML:

<br><br>

<div id="msgid">waiting for message ...</div>

<br><br>
<hr class="my-4">

<h4>2) BASIC AJAX POST REQUEST/RESPONSE</h4>
<p>- simple form with 1 input text field</p>
<p>- on button click sends POST data to a controller file</p>
<p>- te controller file elaborate and re-sends the data recieved via POST</p>


<script>
/*
	function ajaxAlertTxtPost(thingToClick, theUrl) {
	
	

	      $(thingToClick).click(function() {
	      
	      			$.post( theUrl, function( data ) {
  					alert( data );
				});

		     $.ajax({
			      url: theUrl,
			      type: 'post',
			      dataType:'text',
			      success: function(data) { alert(data); },
			      error: function() {
						     alert(error);
						}
		     }); // end $.ajax

	       }); // end .click function

	} // end ajaxAlertTxt 
	
	ajaxAlertTxtPost("#theButton", "/ajax/ajaxPostResp");
*/
</script>


<script>

// https://grokonez.com/node-js/integrate-nodejs-express-jquery-ajax-post-get-bootstrap-view

function ajaxForm(theUrl, formID) {

	$(document).ready(function() {

	  // SUBMIT FORM
	    $(formID).submit(function(event) {
	    // Prevent the form from submitting via the browser.
	    event.preventDefault();
	    ajaxPost();
	  });


	    function ajaxPost(){
	    
	    var formData = {
		firstname : $("#firstname").val(),
		lastname :  $("#lastname").val()
	      	}

	      // DO POST
	      $.ajax({
	      type : "POST",
	      contentType : "application/json",
	      url : "/ajax/ajaxPostResp",
	      data : JSON.stringify(formData),
	      dataType : 'json',
	      success : function(customer) {
				alert(JSON.stringify(customer));
	      },
	      error : function(e) {
		alert("Error!");
		alert("ERROR: ", e);
		console.log("ERROR: ", e);
	      }
	    });

	      // Reset FormData after Posting
	      resetData();

	    }

	    function resetData(){
	      $("#firstname").val("");
	      $("#lastname").val("");
	    }
	})

} // end ajaxForm

/*
// PREPARE FORM DATA
var theFormData = {
		firstname : $("#firstname").val(),
		lastname :  $("#lastname").val()
	      	};
*/

ajaxForm("/ajax/ajaxPostResp", "#customerForm", theFormData);


     //   $("#postResultDiv").html("<p>" + 
      //     "Post Successfully! <br>" +
      //     "--->" + JSON.stringify(customer)+ "</p>");

</script>

 <form id="customerForm">
      <div class="form-group">
      <label for="firstname">FirstName:</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter FirstName"/>
      </div>
      <div class="form-group">
      <label for="lastname">LastName:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter LastName"/>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
 </form>

 <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form id="basicForm" class="text-center" style="color: #757575;" method="post">

            <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
                        <input type="text" name="inputText"  id="inputText" class="form-control">
                        <label for="inputData">Text Input Data</label>
                    </div>
                </div>
            </div>

            <!-- Sign up button -->
            <button id="theButton2" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Submit</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->







<br><br>
<hr class="my-4">

<h4>3) Changes a target div with selected option value (Jquery)</h4>

<script>
    
    function getval(sel)
			{
			    alert(sel);
			}

    
</script>

<form id="selectForm" class="text-center border border-light p-5" method="post" action="">

    <p class="h4 mb-4">Select an image</p>
       
    <select name="selectTest" id="selectTest" class="form-control mb-4">
      <option disabled selected value="1">Select an option..</option>
      <option value="a">a</option>
      <option value="b">b</option>
      <option value="c">c</option>
      <option value="d">d</option>
    </select>
    
</form>

<br><br>
<hr class="my-4">

<script>
function ajaxSelectPost(theTrigger, theUrl) {

   $(document).ready(function(){
                
      $('#' + theTrigger).change(function() {		    
			
             $.ajax({
		      url: theUrl,
		      type: 'post',
		      dataType:'json',
		      success: function(data) {
                                                alert(data); 
                                              },
		      error: function() {
					     alert(error);
                                         }		                    
              }); // end $.ajax
						
       }); // end .click function
       
     });  // end document ready

} // end ajaxFunctionParameter

function customFunction(data) { printObject(data); }



	// function from ajax.js 
	ajaxSelectOptions("selectForm", "/ajax/ajaxPostMongo")
</script>


