<!-- <p class="lead">Jquery Basics</p> -->
 <hr class="my-4">
  <ul>
    <li>Ajax hello world</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
  // alert("getPassEjs = " + getPassEjs);
  // alert(getPassEjs[0]);
  // alert(getPassEjs[0]["puppyTestInfos"]);
</script>

<script>
$(document).ready(function(){
 $("#msgid").html("This is Hello World by JQuery!!!!!");
});
</script>

This is Hello World by HTML:

<br><br>

<div id="msgid">waiting for message ...</div>

<br><br>
<p>------------------------------------------------------------------</p>

	<script>
            
                // AJAX TEST 1 (retrieve a simple text)
                
                // takes simple text from php	
                
                function ajaxTest1(target) {
                
                    $(target).click(function() {

/*
                        $.ajax({
                                        url: '/ajax/ajax1Test4',
                                        type: 'GET',
                                        dataType:'json'
					})
					.done(function(data){
						console.log(JSON.stringify(data, "", 2));
                                            	alert(JSON.stringify(data, "", 2));
                                        })
                                        .fail(function(jqXHR, textStatus, err) {
                                        	console.log("ajax error: " + textStatus);
                                		alert("ajax error: " + textStatus);
                                        });
*/

			alert("aaaaaaaaa");
			
                        $.ajax({
					url: 'todo.txt',
					success: function() { alert('ok'); },
					error: function() { alert('error'); }
			}); 

			alert("ooooooooo");
			$("#theText").html("theData");

/*
                        $.ajax({
                                        url: '/ajax/ajax1Test4',
                                        type: 'get',
                                        dataType:'json',
                                        success: function(data){	
						let theData = JSON.stringify(data);
						$("#theText").html(theData);
						console.log(theData);
                                            	alert(theData);						
                                        },
                                        error: function(jqxhr, status, exception) {
					     alert('Exception:', exception);
					}

                               });    
*/
			

                    }); // end $target function

                } // end ajaxTest1  
                
                // richiama la funbzione ajax
                // ajaxTest124("#target","aaabbb");

           </script>

           <h4>Test invio ricezione verso file di destinazione</h4>
			<button id="theTarget">clicca per testare</button>
			<div id="theText">text to change...</div>

            <script>
              // richiama la funzione ajax
                ajaxTest1("#theTarget");
           </script>
           
