<!-- <p class="lead">AJAX POST (with Express)</p> -->
 <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>


<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
  // alert("getPassEjs = " + getPassEjs);
  // alert(getPassEjs[0]);
  // alert(getPassEjs[0]["puppyTestInfos"]);
</script>


<br><br>
<hr class="my-4">

<h4>1) Verifies that JQuery works...</h4>


<script>
$(document).ready(function(){
 $("#msgid").html("This is Hello World by JQuery!!!!!");
});
</script>

This is Hello World by HTML:

<br><br>

<div id="msgid">waiting for message ...</div>

<br><br>
<hr class="my-4">

<h4>2) BASIC AJAX POST REQUEST/RESPONSE</h4>
<p>- simple form with input text fields</p>
<p>- input text fields are dynamically defined with the function by the parameter "formData"</p>
<p>- the parameter "formData" gives the list of the form fields</p>
<p>- on button click sends POST data to a controller file</p>
<p>- the controller file elaborate and re-sends the data recieved via POST</p>


<script>

// https://grokonez.com/node-js/integrate-nodejs-express-jquery-ajax-post-get-bootstrap-view

function ajaxForm(theUrl, formID, formData, customfunction) {

	$(document).ready(function() {

	  // SUBMIT FORM
	    $("#" + formID).submit(function(event) {
	    // Prevent the form from submitting via the browser.
	    event.preventDefault();
	    ajaxPost();
	  });


	    function ajaxPost(){
	    
		let extractedData = {};
	    	const keys = Object.keys(formData)
		let i = 0
		for (const key of keys) {
					switch(formData[key]) {
							  case "radio":
							    	extractedData[key] = $("." + key +":checked").val();
							    break;
							  default:
							    	extractedData[key] = $("#" + key).val();
							} // end switch

					} // end for		

	      // DO POST
	      $.ajax({
	      type : "POST",
	      contentType : "application/json",
	      url : theUrl,
	      data : JSON.stringify(extractedData),
	      dataType : 'json',
	      success : function(data) {
				// alert(JSON.stringify(data));
				customfunction(data);
	      },
	      error : function(e) {
		alert("Error!");
		console.log("ERROR: ", e);
	      }
	    });

	      // Reset FormData after Posting
	      resetData(formData);

	    }
	
	    function resetData(theFormData){
	
	    	const keys = Object.keys(theFormData)
		for (const key of keys) {
					    if(key == "queryField") {
                                                 // keeps the queryField value
                                           } else {
  					         $("#" + key).val("");
                                           } // end else
					
					/*
                                           if(theFormData[key] == "hidden") {
                                                 // keeps the hidden value
                                           } else {
  					         $("#" + key).val("");
                                           } // end else
					  */
					} // end for
	    } // end resetData

	}) // end ajaxPost()

} // end ajaxForm


// FORM DATA
var theFormData = {
		theInputText : "text",
		theCheckbox : "checkbox",
		theTextarea : "textarea",
		theRadio :  "radio",
		theSelect : "select"
	      	};
		
function theCustomFunction(jsonData) {
					alert("data are: " + JSON.stringify(jsonData));
				     }

ajaxForm("/ajax/ajaxPostResp", "testForm", theFormData, theCustomFunction);

</script>

 <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
    
	 <form id="testForm" class="text-center" style="color: #757575;">
	    <h4>Sends the input data to the controller...</h4>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	<label for="theInputText">input Text Field</label>
			<input type="text" name="theInputText"  id="theInputText" class="form-control" placeholder="Enter Input Text"/>
                    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	<label for="theCheckbox">Checkbox Example</label>
			Checkbox: <input type="checkbox" id="theCheckbox">
    		    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	<label for="theTextarea">Textarea Example</label>
    			<textarea class="form-control" id="theTextarea" rows="3" placeholder="Write something..."></textarea>
    		    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="form-check">
		    	<label for="theRadio">Radio Buttons Example</label>
			<input type="radio" name="theRadio" class="theRadio form-check-input" value="choice1" checked> Choice 1<br>
  			<input type="radio" name="theRadio" class="theRadio form-check-input" value="choice2"> Choice 2<br>
  			<input type="radio" name="theRadio" class="theRadio form-check-input" value="others"> Others
                    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	    <label for="theSelect">Choose a letter:</label>
			    <select name="theSelect" id="theSelect" class="form-control mb-4">
			      <option disabled selected value="1">Select an option..</option>
			      <option value="A">Option A</option>
			      <option value="B">Option B</option>
			      <option value="C">Option C</option>
			      <option value="D">Option D</option>
			    </select>
                    </div>
                </div>
            </div>
	    
	    
	    
	    
	      <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Submit</button>
	      
	 </form>	 
     </div>
 <!--End of Card content-->

<br><br>
<hr class="my-4">

<h4>3) AJAX QUERY TO MONGO FROM A FORM SELECT</h4>
<p>- form with a select menu field</p>
<p>- uses the same function of the input form</p>
<p>- infact the jquery id selector "#" and the val() property are valid fotr the select field as the same for the input field</p>
<p>- input text fields are dynamically defined with the function by the parameter "formData"</p>
<p>- on button click sends POST data to a controller file</p>
<p>- the controller file quaries the Mongo DB
<p>- the form data recieved by the controller (req.body) are filtered with a regex</p>
<p>- the filtered data are returned - asynchronously - to the html file</p>

<script>

// FORM DATA
var selectFormData = {
                queryField : "hidden",
		selectTest : "select"
	      	};

function anotherCustomFunction(jsonData) {
					alert("data are: " + JSON.stringify(jsonData));
				     }

ajaxForm("/ajax/ajaxPostMongo", "selectForm", selectFormData, anotherCustomFunction);

    
</script>

<!--Card content-->
    <div class="card-body px-lg-5 pt-0">
    
	 <form id="selectForm" class="text-center" style="color: #757575;">
	    <h4>Returns a list of records that start with the chosen letter...</h4>
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">

                             <input type="hidden" id="queryField00" name="queryField00" value="selectTest">

		    	    <label for="selectTest">Choose a letter:</label>
			    <select name="selectTest" id="selectTest" class="form-control mb-4">
			      <option disabled selected value="1">Select an option..</option>
			      <option value="a">a</option>
			      <option value="b">b</option>
			      <option value="c">c</option>
			      <option value="d">d</option>
			      <option value="G">G</option>
			      <option value="g">g</option>
			      <option value="J">J</option>
			      <option value="j">j</option>
			    </select>
                    </div>
                </div>
            </div>
	    
	      <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Submit</button>
	      
	 </form>	 
     </div>
 <!--End of Card content-->

<br><br>
<hr class="my-4">

h4>4) AJAX FORM EXTERNAL</h4>
<p>- the same function above but externalized</p>

<script>

// FORM DATA
var theFormData0 = {
		theInputText0 : "text",
		theCheckbox0 : "checkbox",
		theTextarea0 : "textarea",
		theRadio0 :  "radio",
		theSelect0 : "select"
	      	};
		
function theCustomFunction0(jsonData) {
					alert("data are: " + JSON.stringify(jsonData));
				     }
ajaxForm0("/ajax/ajaxPostResp", "testForm0", theFormData0, theCustomFunction0);
</script>

 <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
    
	 <form id="testForm0" class="text-center" style="color: #757575;">
	    <h4>Sends the input data to the controller...</h4>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	<label for="theInputText0">input Text Field</label>
			<input type="text" name="theInputText0"  id="theInputText0" class="form-control" placeholder="Enter Input Text"/>
                    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	<label for="theCheckbox0">Checkbox Example</label>
			Checkbox: <input type="checkbox" id="theCheckbox0">
    		    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	<label for="theTextarea0">Textarea Example</label>
    			<textarea class="form-control" id="theTextarea0" rows="3" placeholder="Write something..."></textarea>
    		    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="form-check">
		    	<label for="theRadio0">Radio Buttons Example</label>
			<input type="radio" name="theRadio0" class="theRadio0 form-check-input" value="choice1" checked> Choice 1<br>
  			<input type="radio" name="theRadio0" class="theRadio0 form-check-input" value="choice2"> Choice 2<br>
  			<input type="radio" name="theRadio0" class="theRadio0 form-check-input" value="others"> Others
                    </div>
                </div>
            </div>
	    
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    	    <label for="theSelect0">Choose a letter:</label>
			    <select name="theSelect0" id="theSelect0" class="form-control mb-4">
			      <option disabled selected value="1">Select an option..</option>
			      <option value="A">Option A</option>
			      <option value="B">Option B</option>
			      <option value="C">Option C</option>
			      <option value="D">Option D</option>
			    </select>
                    </div>
                </div>
            </div>
	    
	    
	    
	    
	      <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Submit</button>
	      
	 </form>	 
     </div>
 <!--End of Card content-->

<br><br>
<hr class="my-4">

<h4>3) AJAX QUERY TO MONGO FROM A FORM SELECT</h4>
<p>- form with a select menu field</p>
<p>- uses the same function of the input form</p>
<p>- infact the jquery id selector "#" and the val() property are valid fotr the select field as the same for the input field</p>
<p>- input text fields are dynamically defined with the function by the parameter "formData"</p>
<p>- on button click sends POST data to a controller file</p>
<p>- the controller file quaries the Mongo DB
<p>- the form data recieved by the controller (req.body) are filtered with a regex</p>
<p>- the filtered data are returned - asynchronously - to the html file</p>

<script>
// FORM DATA
var selectFormData0 = {
		queryField : "hidden",
		selectTest0 : "select"
	      	};
function showData(jsonData) {
					alert("data are: " + JSON.stringify(jsonData));
					let keys = Object.keys(jsonData);
					let theCards = "";
					for (let key of keys) {
								if (typeof key.error !== 'undefined') {
								
									if(key.error == "no matches") {
    										$('#showDataDiv').html("<p>" + "No matches found!" + "</p>");
									}
								} else {
								   theCards += "<p>" + key.title + "</p>";
								   $('#showDataDiv').html(theCards);
								  } // end if-else
					} // end for
								   
			    } // end showData()
				     
ajaxForm("/ajax/ajaxPostMongo", "selectForm0", selectFormData0, showData);
    
</script>

<!--Card content-->
    <div class="card-body px-lg-5 pt-0">
    
	 <form id="selectForm0" class="text-center" style="color: #757575;">
	    <h4>Returns a list of records that start with the chosen letter...</h4>
	    <div class="form-row">
                <div class="col">
                    <!-- generic input text data -->
                    <div class="md-form">
		    		    
                             <input type="hidden" id="queryField" name="queryField" value="selectTest0">

		    	    <label for="selectTest0">Choose a letter:</label>
			    <select name="selectTest0" id="selectTest0" class="form-control mb-4">
			      <option disabled selected value="1">Select an option..</option>
			      <option value="a">a</option>
			      <option value="b">b</option>
			      <option value="c">c</option>
			      <option value="d">d</option>
			      <option value="G">G</option>
			      <option value="g">g</option>
			      <option value="J">J</option>
			      <option value="j">j</option>
			    </select>
                    </div>
                </div>
            </div>
	    
	      <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Submit</button>
	      
	 </form>	 
     </div>
 <!--End of Card content-->

<div id="showDataDiv">Waiting for data...</div> 
