<!-- <p class="lead">Form 1 Update Record</p> -->
 <hr class="my-4">
  <ul>
    <li>updates a record into the MongoDB</li>
    <li>recieves the record id</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
	var result = getPassEjs[0]["result"];
	var theId = result["id"];
	var theName = result["name"];
	var theAge = result["age"];
	alert("id: " + theId + " - name: " + theName + " - age: " +  theAge);
	document.addEventListener("DOMContentLoaded", function(event) { 
                changeInputText('id', theId);
		changeInputText('name', theName);
		changeInputText('age', theAge);
	});

      // changeTextByDiv('divName')

</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->




<form action="/form1/updatep/" method="GET">
    <fieldset>
	<legend>Insert Record</legend>
        <input type="hidden" name="id" value="">
	<ol>
	    <li>
	        <label for=name>Name</label>
		<input type="text" placeholder="name" name="name" value="">
	    </li>
	    <li>
	        <label for=age>Age</label>
	        <input type="text" placeholder="age" name="age" value="">
	    </li>
        </ol>
    </fieldset>
    <fieldset>
        <button type="submit">Submit</button>
    </fieldset>	
</form>
