<p class="lead">Form 1 Create</p>
  <hr class="my-4">
  <ul>
    <li>creates a record into the MongoDB</li>
    <li>uses a Schema</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
 // alert("getPassEjs = " + getPassEjs);
 // alert(getPassEjs[0]);
 // alert(getPassEjs[0]["puppyTestInfos"]);
  
</script>

<h1>MVC Modules Import Test (Controller - Router - app)</h1>
<br><br>
<a href="test/test0">test 0</a>

