<!-- <p class="lead">Form 1 Update Record</p> -->
 <hr class="my-4">
  <ul>
    <li>updates a record into the MongoDB</li>
    <li>recieves the record id</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
	var result = getPassEjs[0]["result"];
	var theId = result["id"];
	var theName = result["name"];
	var theAge = result["age"];
	alert("id: " + theId + " - name: " + theName + " - age: " +  theAge);
	document.addEventListener("DOMContentLoaded", function(event) { 
                changeInputText('id', theId);
		changeInputText('name', theName);
		changeInputText('age', theAge);
	});

      // changeTextByDiv('divName')

</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->

<input type="text" id="inpName" oninput="changeVal("inpName")">
<input type="text" id="inpAge" oninput="changeVal("inpAge")">
<p id="demo"></p>

<script>
function changeLink(linkDiv, div1, div2) {
  let x = document.getElementById(div1).value;
  let y = document.getElementById(div2).value;

  window.open(
      link.href,
      '_blank'
  );

  link.innerHTML = x " - " + y;
  link.setAttribute('href', "/form1/update/" + x + "/" + y);

  return false;

}

function changeLinkX() {
    var link = document.getElementById("mylink");

    window.open(
      link.href,
      '_blank'
    );

    link.innerHTML = "facebook";
    link.setAttribute('href', "http://facebook.com");

    return false;
}
</script>

<script>
function changeVal(theDiv) {
  let x = document.getElementById(theDiv).value;
  return x;
}

function buidLink(theLink, vId,vName,vAge) {
    theLink.setAttribute('href', "/form1/update/" + vId + "/" + vName + "/" + vAge );
    theLink.innerHTML = vId + " - " + vName  + " - " + vAge;

}

var updId = result["id"];
var updName = result["name"];
var updAge = result["age"];

document.addEventListener("DOMContentLoaded", function(event) { 
                buidLink("updLink", updId, updName, updAge);
		
	});

</script>

<a id="updLink" href="/form1/update/5cf00c15e7179a0a437d8d95/foox/66">update via link..</a>

<a href="/form1/update/5cf00c15e7179a0a437d8d95/foox/66">update via link..</a>



<form action="/form1/updatep/" method="POST">
    <fieldset>
	<legend>Insert Record</legend>
        <!-- <input type="hidden" name="id" value="passEjs[0]["result"]["id"]"> -->
	<ol>
            <li>
	        <label for=id>ID</label>
		<input type="text" placeholder="id" name="id" value="" disabled>
	    </li>
	    <li>
	        <label for=name>Name</label>
		<input type="text" placeholder="name" name="name" value="">
	    </li>
	    <li>
	        <label for=age>Age</label>
	        <input type="text" placeholder="age" name="age" value="">
	    </li>
        </ol>
    </fieldset>
    <fieldset>
        <button type="submit">Submit</button>
    </fieldset>	
</form>
