
  <p class="lead">The Home</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home'); </script>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Button</a>
  </p>
  
<p class="name" onclick="changeColor()">Click this</p>
<script>
   alert("start0!");
   function changeColor(){
          var a = document.querySelector(".name")
          a.style.color="pink"
   }
   alert("end0!");

</script>

  <script>
  alert("start!");
  $(document).ready(function(){
  	alert("jquery test!!");
    $("#msgid").html("This is Hello World by JQuery");
  });
    alert("end!");
</script>

<div id="msgid">msgid</div>
