
  <p class="lead">The Home</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home'); </script>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Button</a>
  </p>
  
<p class="name" onclick="changeColor()">Click this</p>
<script>
   alert("start0!");
   function changeColor(){
          var a = document.querySelector(".name")
          a.style.color="pink"
   }
   alert("end0!");

</script>

<p id="clickHtml" onclick="changeText("clickHtml", "heloooooo!")">Click Html</p>
<script>
   alert("start1!");
   $(document).ready( function() {
            $('#msgid').html("Helloooooo!");
   });
   
   function changeText(id, text){
          // let myVar = document.querySelector("#clickHtml")
          // a.innerHTML = "Hello World!";
          $(id).html(text);
   }
   
   alert("end1!");

</script>

  <script>
  alert("start!");
  $(document).ready(function(){
  	alert("jquery test!!");
    $("#msgid").html("This is Hello World by JQuery");
  });
    alert("end!");
</script>

<div id="msgid">msgid</div>
