
  <p class="lead">The Home</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home'); </script>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Button</a>
  </p>
  
<script type="text/javascript" src="/static/js/doms.js"></script>
  
<p class="name" onclick="changeColor0()">Click this</p>
<script>
   alert("start0!");
   function changeColor0(){
          var a = document.querySelector(".name")
          a.style.color="pink"
   }
   alert("end0!");

</script>


<p class="name" onclick="changeColor2('#theTarget0','red')">Change Color</p>
<p id="theTarget0">Color Target
<script>
   alert("start1!");
   function changeColor2(qSelector, theColor){
          let a = document.querySelector(qSelector);
          a.style.color = theColor;
   }
   alert("end1!");

</script>

<br><br>

<p class="name" onclick="changeColor('#theTarget1','red')">Change Color Remote</p>
<p id="theTarget1">Color Target Remote</p>

<br><br>

<p class="name" onclick="changeTextByQsel('#theTargetText','I am The new Qsel Text!!!')">Change Qsel Text</p>
<p id="theTargetText">Text Target Div</p>

<br><br>

<p class="name" onclick="changeTextByDiv('theDivText','I am The new Div Text!!!')">Change Div Text</p>
<p id="theDivText">Text Target Div</p>

<script>
alert("event")
  document.addEventListener("DOMContentLoaded", function(event) { 
    changeTextByDiv('divDocument','I am The new DivDocument Text!!!')
  });
alert("event end")
</script>

<p id="divDocument">Text Target Div Document</p>

<p id="clickHtml" onclick="changeText1("clickHtml", "heloooooo!")">Click Html</p>
<script>
   alert("start2!");
   $(document).ready( function() {
            $('#msgid').html("Helloooooo!");
   });
   
   function changeText1(id, text){
          // let myVar = document.querySelector("#clickHtml")
          // a.innerHTML = "Hello World!";
          $(id).html(text);
   }
   
   alert("end2!");

</script>

  <script>
  alert("start3!");
  $(document).ready(function(){
  	alert("jquery test!!");
    $("#msgid").html("This is Hello World by JQuery");
  });
    alert("end3!");
</script>

<div id="msgid">msgid</div>
