<p class="lead">The Home 2</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home2'); </script>
  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  alert("getPassEjs = " + getPassEjs);
  // printObject(getPassEjs);
  alert(getPassEjs[0]);
  alert(getPassEjs[0][puppyTestInfos]);

// var puppyTestInfos = getFieldFromObj(getPassEjs, "puppyTestInfos");

// alert("puppyTestInfos = " + puppyTestInfos);
 // printObject("puppyTestInfos = " + puppyTestInfos);
  
  
  
  $("#htmlDiv").append(eval(getPassEjs));
</script>

<div id="htmlDiv">htmlDiv</div>

<h1>MVC Modules Import Test (Controller - Router - app)</h1>
<br><br>
<a href="test/test0">test 0</a>
<br><br>
<a href="test/test1">test 1</a>
<br><br>
<a href="puppy/test/Jezep/69">puppy test</a>
<br><br>
<br><br>
<h2>Kitty</h2>
<br><br>
<a href="kitty/create/Janol/20">save</a>
<br><br>
<a href="kitty/read/5cf7c5f05d0f2e0004edf862">read</a>
<br><br>
<a href="kitty/update/5cf7b3a2cce92f00041d7c92/Malij/93">update</a>
<br><br>
<a href="kitty/delete/5cf5606933f0d5000472e600">delete</a>
<br><br>
<a href="kitty/lastitems/0">last items</a>
<br><br>
<br><br>
<h2>Views</h2>
<br><br>
<a href="home/home">home</a>
<br><br>
<a href="home/home">home (direct)</a>
<br><br>
