
  <p class="lead">The Home</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home'); </script>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Button</a>
  </p>
  
  <script>
  $(document).ready(function(){
  	alert("jquery test!!");
   //  $("#msgid").html("This is Hello World by JQuery");
  });
</script>

<div id="msgid">msgid</div>
