<p class="lead">The Home 2</p>
  <hr class="my-4">
  <p>This is an amazing page!!!</p>
  <script> alert('home2'); </script>
  <hr class="my-4">

<script type="text/javascript" src="/static/general.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  alert("getPassEjs = " + getPassEjs);
  
  
  $("#htmlDiv").append(eval(getPassEjs));
</script>

<div id="htmlDiv">htmlDiv</div>
