  <p class="lead">Pag3</p>
  <hr class="my-4">
  <p>This is another amazing page...</p>
  <script> alert('pag3'); </script>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Button</a>
  </p>
