<!-- <p class="lead">Form 1 Create</p> -->
 <hr class="my-4">
  <ul>
    <li>creates an Openstreetmap record into a MongoDb collection</li>
    <li>uses a Schema with geodata coordinates</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;

var randName = randWord(5);
var randRate = randNum(10);

// creates a random phrase for description
var wordsArray = ['Horse', 'Pig', 'Dog', 'Cat', 'Parrot', 'Iguana'];
var randDesc = randomPhraseFromArray(wordsArray, 20);

// Area limits (Roma):
// - top-left: 41.9999999, 12.3999999
// - bot-right: 41.7999999, 12.6599999
var coordX = randomIntFromInterval(41.8000000,41.9999999,7);
var coordY = randomIntFromInterval(12.3999999,12.6599999,7);



var myPhrase = "cantami o diva del pelide Achille ira superba che " + 
               "infiniti addusse lutti agli Achei e molte anzi tempo" + 
               "alme eroi orrido pasto di cani e augelli";
/*
var myText = "Lorem ipsum dolor sit amet, consectetur adipisci elit,
		sed do eiusmod tempor incidunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrum
		exercitationem ullamco laboriosam, nisi ut aliquid
		ex ea commodi consequatur. Duis aute irure reprehenderit
		in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint obcaecat cupiditat non proident,
		sunt in culpa qui officia deserunt mollit anim id est laborum";
*/
		
alert(arrayFromText(myPhrase));

alert(randomPhraseFromText(myPhrase, 15));
	
	// random number 1-10	
	// var theRate = Math.floor(Math.random() * 10)+1; 
	
	// external function fro infogenerator.js	
	// var theRate = getRandomInt(1, 10);

document.addEventListener("DOMContentLoaded", function(event) { 
	changeInputText('name', randName);
	changeInputText('rate', randRate);
	changeInputText('coordx', coordX);
	changeInputText('coordy', coordY);
	changeTextByDiv('description', randDesc);
});



/*
  $(document).ready( function() {
	$( "input[name='coordx']" ).val(coordX);
	$( "input[name='coordy']" ).val(coordY);
	$( "input[name='rate']" ).val(theRate);
	
		
}); // fine document.ready
*/
</script>


<form action="/form3maps/createp/" method="post" class="my-2 my-lg-0">
	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Name</div>
			</div>
			<input name="name" class="form-control mr-sm-2" placeholder="Point Name" aria-label="Name">
		</div>
     	</div>
	
	<div class="form-raw">
		<div class="form-group">
		  <div class="input-group-prepend">
			<div class="input-group-text">Description</div>
		  </div>
		  <textarea id="description" class="form-control rounded-0" name="description" placeholder="enter description..." rows="3"></textarea>
		</div>
     	</div>
	
      <div class="form-row">
	  <div class="col">
	  	
	  		
	       			<input type="range" min="1" max="10" value="5" class="slider customRange" id="myRange">
		
	    </div>
	    <div class="col">
		    <div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Rate</div>
				</div>
				
		    	 <input name="rate" class="form-control mr-sm-2" aria-label="Rate" placeholder="Rate" value="5" readonly>
		     </div>
	    </div>
	</div>	
        
      	<div class="form-row">	   
	    	 <div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">X coord</div>
			</div>
	     		<input name="coordx" class="form-control mr-sm-2" aria-label="CoordX" placeholder="CoordX" readonly>
	      	 </div>
	</div>
	<div class="form-row">
	   	<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Y coord</div>
			</div>
	    		<input name="coordy" class="form-control mr-sm-2" aria-label="CoordY" placeholder="CoordY" readonly> 
		</div>	
	</div>
	 	
     
	<div class="form-row">
     		<button id="addItem" class="btn btn-outline-success my-2 my-sm-0" >Add</button>   
     	</div>	
  </form>   
  
  <hr class="my-4">
  
  <div id="map" class="map"></div>
    <form class="form-inline">
      <label>Geometry type &nbsp;</label>
      <select id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
      </select>
    </form>
    <script>
    var slider = document.getElementById("myRange");
    
    slider.oninput = function() {
  	$( "input[name='rate']" ).val(this.value);
	}
    
    </script>

 
