<hr class="my-4">
  <ul>
    <li>inserts a point map record using a openlayers map marker</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>

var getPassEjs = <%- passEjs %>;

var randName = randWord(5);
var randRate = randNum(10);

// Area limits (Roma):
// - top-left: 41.9999999, 12.3999999
// - bot-right: 41.7999999, 12.6599999
var coordX = randomIntFromInterval(41.8000000,41.9999999,7);
var coordY = randomIntFromInterval(12.3999999,12.6599999,7);

var myPhrase = "Lorem ipsum dolor sit amet, consectetur adipisci elit, " +
		"sed do eiusmod tempor incidunt ut labore et dolore " +
		"magna aliqua. Ut enim ad minim veniam, quis nostrum " +
		"exercitationem ullamco laboriosam, nisi ut aliquid " +
		"ex ea commodi consequatur. Duis aute irure reprehenderit " +
		"in voluptate velit esse cillum dolore eu fugiat nulla " +
		"pariatur. Excepteur sint obcaecat cupiditat non proident, " +
		"sunt in culpa qui officia deserunt mollit anim id est laborum";
		
var randDesc = randomPhraseFromText(myPhrase, 15);


$(document).ready(function(){
	$( "input[name='name']" ).val(randName);
	$( "input[name='rate']" ).val(randRate);
	$( "input[name='myRange']" ).val(randRate);
 	$("#description").html(randDesc);
	$( "input[name='coordx']" ).val(coordX);
	$( "input[name='coordy']" ).val(coordY);
});

/*
document.addEventListener("DOMContentLoaded", function(event) { 
	changeInputText('name', randName);
	changeInputText('rate', randRate);
	changeInputText('myRange', randRate);
	changeTextByDiv('description', randDesc);
	changeInputText('coordx', coordX);
	changeInputText('coordy', coordY);

});
*/

</script>

<form action="/form3maps/createp/" method="post" class="my-2 my-lg-0">
	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Name</div>
			</div>
			<input name="name" class="form-control mr-sm-2" placeholder="Point Name" aria-label="Name">
		</div>
     	</div>
	
	<div class="form-raw">
		<div class="form-group">
		  <div class="input-group-prepend">
			<div class="input-group-text">Description</div>
		  </div>
		  <textarea id="description" class="form-control rounded-0" name="description" placeholder="enter description..." rows="3"></textarea>
		</div>
     	</div>
	
      <div class="form-row">
	  <div class="col">
	  	
	  		
	       			<input name="myRange" type="range" min="1" max="10" value="5" class="slider customRange" id="myRange">
		
	    </div>
	    <div class="col">
		    <div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Rate</div>
				</div>
				
		    	 <input name="rate" class="form-control mr-sm-2" aria-label="Rate" placeholder="Rate" value="5" readonly>
		     </div>
	    </div>
	</div>	
        
      	<div class="form-row">	   
	    	 <div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">X coord</div>
			</div>
	     		<input name="coordx" class="form-control mr-sm-2" aria-label="CoordX" placeholder="CoordX" readonly>
	      	 </div>
	</div>
	<div class="form-row">
	   	<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Y coord</div>
			</div>
	    		<input name="coordy" class="form-control mr-sm-2" aria-label="CoordY" placeholder="CoordY" readonly> 
		</div>	
	</div>
	 	
     
	<div class="form-row">
     		<button id="addItem" class="btn btn-outline-success my-2 my-sm-0" >Add</button>   
     	</div>	
  </form>   
  
  <hr class="my-4">
  
  <div id="map" class="map"></div>
    <form class="form-inline">
      <label>Geometry type &nbsp;</label>
      <select id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
      </select>
    </form>
    <script>
    var slider = document.getElementById("myRange");
    
    slider.oninput = function() {
  	$( "input[name='rate']" ).val(this.value);
	}
    
    </script>
    
    
<hr class="my-4">

<div id="map" class="map"></div>

<script>

 var raster = new ol.layer.Tile({
        source: new ol.source.OSM()
      });
      var source = new ol.source.Vector();
      var vector = new ol.layer.Vector({
           
        source: source,
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ffcc33',
            width: 2
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ffcc33'
            })
          })
        })
      });
      var map = new ol.Map({
      	
        layers: [raster, vector],
        target: 'map',
        view: new ol.View({
		projection: 'EPSG:4326',
          center: [12.45, 41.90],
          zoom: 15
        })
      });
      var modify = new ol.interaction.Modify({source: source});
      map.addInteraction(modify);
      var draw, snap; // global so we can remove them later
     //  var typeSelect = document.getElementById('type');
      function addInteractions() {
        draw = new ol.interaction.Draw({
          source: source,
          type: 'Point'
        });
        map.addInteraction(draw);
        snap = new ol.interaction.Snap({source: source});
        map.addInteraction(snap);
	
	 // var features = vector.getSource().getFeatures();
	 // var coords = feature.getGeometry().getCoordinates());
	 // var coordsStr =  JSON.stringify(coords);
	
	 
	
      }
      /**
       * Handle change event.
       */
       
       /*
      typeSelect.onchange = function() {
        map.removeInteraction(draw);
        map.removeInteraction(snap);
        addInteractions();
      };
      */
      addInteractions();
      
      // Get the array of features
	 // var features = vector.getSource().getFeatures();
	
	 // printObject(features);
	
		
	/* 
	// Go through this array and get coordinates of their geometry.
	features.forEach(function(feature) { 
		 var coords = feature.getGeometry().getCoordinates());
		// alert(coords);
	   // console.log(feature.getGeometry().getCoordinates());
	  // $( "input[name='coordx']" ).val(feature.getGeometry().getCoordinates());
	}); 
	*/ 
	
	
		
	function toWGS84(feature) {
		var coords = feature.getGeometry().getCoordinates();
		 var coordsWGS84 = ol.proj.transform([coords[1], coords[0]], 'EPSG:900913','EPSG:4326');
		 return coordsWGS84;
	} 
	
	
	/*
	function toWGS84(point){
		 return point.transform(
  		new OpenLayers.Projection("EPSG:900913"), // transform from Spherical Mercator Projection
 		 new OpenLayers.Projection("EPSG:4326") // to WGS 1984
		 )
		}
	*/
	
	
	var clickNum = 0;
	
	if (clicknum == 0) {
	
		source.on('addfeature', function(evt){
			// var feature = evt.feature; 

			// var coordsWGS84 = toWGS84(feature);

			var coordsWGS84 = evt.feature.getGeometry().getCoordinates();

			$( "input[name='coordx']" ).val(coordsWGS84[0]);
			$( "input[name='coordy']" ).val(coordsWGS84[1]); 

			clickNum++;

		});
	
	}
	
	source.on('changefeature', function(evt){
   		// var feature = evt.feature;
   		// var coordsWGS84 = toWGS84(feature);
		 
		 var coordsWGS84 = evt.feature.getGeometry().getCoordinates();
		 
		 $( "input[name='coordx']" ).val(coordsWGS84[0]);
		$( "input[name='coordy']" ).val(coordsWGS84[1]);
	});
	
	
    </script>

<hr class="my-4">
<p class="lead">Other options...</p>
<a href="/">back to the home page</a>
<br><br>
<a href="/form3maps/createm">insert another record.</a>
<br><br>
<a href="/form3maps/recordlist/1/10/5">show records table</a>
