<!-- <p class="lead">Form 2 Update Record</p> -->
 <hr class="my-4">
  <ul>
    <li>updates a record into the MongoDB</li>
    <li>recieves the record id</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<%
  var result = getPassEjs["result"];
  var theId = result["_id"];
  var theName = result["name"];
  var theDescr = result["description"];
  var theRate = result["rate"];
  var theDay = result["time"].toLocaleDateString();
  var theTime = result["time"].toLocaleTimeString();
  var coordX = result["coordx"];
  var coordY = result["coordy"];
%>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  var result = getPassEjs["result"];
  var theId = result["_id"];
  var theName = result["name"];
  var theDescr = result["description"];
  var theRate = result["rate"];
  var theDay = result["time"].toLocaleDateString();
  var theTime = result["time"].toLocaleTimeString();
  var coordX = result["coordx"];
  var coordY = result["coordy"];
  
	alert("id: " + theId +
        " - name: " + theName +
        " - rate: " + theRate +
        " - description: " + theDescr +
        " - day: " + theDay +
        " - time: " + theTime +
        " - coord Y: " +  coordY +
        " - coord Y: " +  coordY);

$(document).ready(function(){
	$( "input[name='id']" ).val(theId);
	$( "input[name='name']" ).val(theName);
	$( "input[name='rate']" ).val(theRate);
	$( "input[name='myRange']" ).val(theRate);
 	$("#description").html(theDescr);
	$( "input[name='coordx']" ).val(coordX);
	$( "input[name='coordy']" ).val(coordY);
});

</script>

<form action="/form3maps/updatep/" method="post" class="my-2 my-lg-0">

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">ID</div>
			</div>
			<input name="id" class="form-control mr-sm-2" placeholder="item ID" aria-label="ID" readonly>
		</div>
  </div>

	<div class="form-raw">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Name</div>
			</div>
			<input name="name" class="form-control mr-sm-2" placeholder="Point Name" aria-label="Name">
		</div>
  </div>
	
	<div class="form-raw">
		<div class="form-group">
		  <div class="input-group-prepend">
			<div class="input-group-text">Description</div>
		  </div>
		  <textarea id="description" class="form-control rounded-0" name="description" placeholder="enter description..." rows="3"></textarea>
		</div>
     	</div>
	
      <div class="form-row">
	  <div class="col">

	       			<input type="range" min="1" max="10" value="5" class="slider customRange" id="myRange">
		
	    </div>
	    <div class="col">
		    <div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Rate</div>
				</div>
				
		    	 <input name="rate" class="form-control mr-sm-2" aria-label="Rate" placeholder="Rate" value="5" readonly>
		     </div>
	    </div>
	</div>	
        
      	<div class="form-row">	   
	    	 <div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">X coord</div>
			</div>
	     		<input name="coordx" class="form-control mr-sm-2" aria-label="CoordX" placeholder="CoordX" readonly>
	      	 </div>
	</div>
	<div class="form-row">
	   	<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Y coord</div>
			</div>
	    		<input name="coordy" class="form-control mr-sm-2" aria-label="CoordY" placeholder="CoordY" readonly> 
		</div>	
	</div>
	 	
     
	<div class="form-row">
     		<button id="theButton" class="btn btn-outline-success my-2 my-sm-0" >Update</button>   
     	</div>	
  </form> 
  
  <script>
    var slider = document.getElementById("myRange");
    
    slider.oninput = function() {
  	$( "input[name='rate']" ).val(this.value);
	}
    
    </script>
