<hr class="my-4">
  <ul>
    <li>shows the just inserted data recorded from the form</li>
    <li>the data are taken as a result of a query just after the insertion</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
printObject(getPassEjs[0]);
</script>

<script>
	// How to extract values ftom getPassEjs
	// alert(getPassEjs);
	// alert(getPassEjs[0]);
	// alert(getPassEjs[0]["name"]);
</script>

<style>
    .placemark .content * {
      color: inherit!important;
    }
    .ol-overlay-container {
      width: 20px;
      height: 20px;
      border: 1px solid #08F;
      border-radius: 10px;
      background-color: rgba(0,128,255,.5);
      cursor: move;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
    .ol-popup {
      text-align: center;
      cursor: move;
    }
</style>

	<!-- map div -->
	<div id="map" style="width:600px; height:400px;"></div>

<script>


	var layers = [new ol.layer.Tile({
					source: new ol.source.OSM()
				      })
		     ];
		     
	alert(layers);
	
	
	printObject(layers[0]);	
	printObject(layers["listeners_"]);
	
	// The map
	var map = new ol.Map ({
			    target: 'map',
			    view: new ol.View({
				  projection: 'EPSG:4326',
				  center: [12.46, 41.91],
				  zoom: 15
			    }),
			    
			    layers: layers,
			    
			});
			
			

	var records = getPassEjs[0];

  	// Overlays
	var placemark = [];

const keys = Object.keys(records);

var theKeys = "";

var j = -1;

for (const key of keys) {
 j++;
  printObject(records[key][j]);
}





/*
        var i = -1;

        for (var property in records) {


             if (records.hasOwnProperty(property)) {

                 i++;

                 placemark[i] =  new ol.Overlay.Placemark ({
			      position: [12.46, 41.91],
			      stopEvent: false }
			    });
              }
        }	
*/	

/*
	for(var i=0; i < records.length; i++) {
	
	placemark[i] =  new ol.Overlay.Placemark ({
			      position: [12.46, 41.91],
			      stopEvent: false }
			    });   			   	 

*/

	
	 placemark.forEach(function(p) {
	    map.addOverlay(p);
	  });
	 
</script>
	  
	  
