<!-- <p class="lead">Base OpenLayers Map</p> -->
 <hr class="my-4">
  <ul>
    <li>creates an Openstreetmap record into a MongoDb collection</li>
    <li>uses a Schema with geodata coordinates</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
  // alert("passEjs = " + passEjs);
  // How to extract values ftom getPassEjs
  // alert("getPassEjs = " + getPassEjs);
  // alert(getPassEjs[0]);
  // alert(getPassEjs[0]["puppyTestInfos"]);
</script>

<script>

var mainFolder = "../../";

/*
import Map from mainFolder + 'ol/Map';
import View from mainFolder + 'ol/View';
import TileLayer from mainFolder + 'ol/layer/Tile';
import XYZ from mainFolder + 'ol/source/XYZ';
*/

Map({
  target: 'map',
  layers: [
    new TileLayer({
      source: new XYZ({
        url: 'https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png'
      })
    })
  ],
  view: new View({
    center: [0, 0],
    zoom: 2
  })
  
</script>

<div id="map">the Map!</div>
