
 
<hr class="my-4">
  <ul>
    <li>inserts a point map record using a openlayers map marker</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>

<script>
var getPassEjs = <%- passEjs %>;
/*
var randName = randWord(5);
var randRate = randNum(10);
var myPhrase = "Lorem ipsum dolor sit amet, consectetur adipisci elit, " +
		"sed do eiusmod tempor incidunt ut labore et dolore " +
		"magna aliqua. Ut enim ad minim veniam, quis nostrum " +
		"exercitationem ullamco laboriosam, nisi ut aliquid " +
		"ex ea commodi consequatur. Duis aute irure reprehenderit " +
		"in voluptate velit esse cillum dolore eu fugiat nulla " +
		"pariatur. Excepteur sint obcaecat cupiditat non proident, " +
		"sunt in culpa qui officia deserunt mollit anim id est laborum";
		
var randDesc = randomPhraseFromText(myPhrase, 15);
$(document).ready(function(){
	  $( "input[name='title']" ).val(randName);
          $("#description").html(randDesc);
	});
*/

var usrList = {
               /*
		0:{"email": "kacuz@zoho.com", "pwd": "Yuzpa53"},
		1:{"email": "dotix@proton.com", "pwd": "Liduxe25"},
		2:{"email": "yexab@gmail.com  ", "pwd": "Bufoji25"},
		3:{"email": "votac@yahoo.com", "pwd": "Foyosu26"},
		4:{"email": "zofed@zoho.com", "pwd": "Bucoze66"},		
		5:{"email": "xipem@yahoo.com", "pwd": "Hicani37"},		
		6:{"email": "zadeh@zoho.com", "pwd": "Mabasa89"},		
		7:{"email": "xudas@yahoo.com", "pwd": "Mufaqa15"},
		8:{"email": "mutuv@hotmail.com", "pwd": "Fiqexo10"},
		9:{"email": "madey@icloud.com", "pwd": "Ramehi41"},
                */

		10:{"email": "dixub@hotmail.com", "pwd": "Juqija33"},
		11:{"email": "qigel@yahoo.com", "pwd": "Hiveti32"},
		12:{"email": "fohax@proton.com", "pwd": "Cugecu34"}

};

var randUsr = randItemFromObj(usrList);

var randEmail = randUsr.email;
var randPwd = randUsr.pwd;

$(document).ready(function(){
	  $( "input[name='email']" ).val(randEmail);
	  $( "input[name='password']" ).val(randPwd);     
	});

</script>

<!-- Default form login -->
<form class="text-center border border-light p-5" method="post" action="/login/authenticate">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" name="email" id="email" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" name="password" id="password" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="">Register</a>
    </p>

    <!-- Social login -->
    <p>or sign in with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

</form>
<!-- Default form login -->

