<!-- <p class="lead">Deleting Record</p> -->
 <hr class="my-4">
  <ul>
    <li>shows the record to delete</li>
    <li>gives the option to regret</li>
  </ul>

  <hr class="my-4">

<script type="text/javascript" src="/static/js/extractors.js"></script>
<script type="text/javascript" src="/static/js/debugs.js"></script>
<script type="text/javascript" src="/static/js/randoms.js"></script>
<script type="text/javascript" src="/static/js/doms.js"></script>

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<!-- <%= strMyVar %> -->
<% var passEjs = strMyVar; %>
<% var passEjsObj = myVar; %>
<% var result = passEjsObj[0]["result"]; %>
<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
	// How to extract values ftom getPassEjs
	// alert(getPassEjs);
	// alert(getPassEjs[0]);
	// alert(getPassEjs[0]["result"]);
	// var records = getPassEjs[0]["result"];
</script>

<!-- <p>passEjs: <%= passEjs; %></p> <br><br> -->

<h1>Aframe base</h1>
<p>aaa aaa aaa</p>

<img src="https://res.cloudinary.com/alessdelo/image/upload/v1588515010/alessdelo/360/ofizyxsijdjoqm8cgj1l.jpg" id="img1" />

<button onclick="getExifAllData('img1')">Get Exif</button>

<div id="theText"></div>

<br><br>

<button onclick="getXmpMetadata('https://res.cloudinary.com/alessdelo/image/upload/v1588515010/alessdelo/360/ofizyxsijdjoqm8cgj1l.jpg')">Get Exif</button>
<!--
    <a-scene>
      <a-sky id="img1" src="https://res.cloudinary.com/alessdelo/image/upload/v1588515010/alessdelo/360/ofizyxsijdjoqm8cgj1l.jpg" rotation="0 -130 0"></a-sky>

      <a-text font="kelsonsans" value="Puy de Sancy, France" width="6" position="-2.5 0.25 -1.5"
              rotation="0 15 0"></a-text>
    </a-scene>
-->   


<hr class="my-4">
<p class="lead">Other options...</p>
<a href="/">back to the home page</a>
<br><br>

<script>

var file = "https://res.cloudinary.com/alessdelo/image/upload/v1588515010/alessdelo/360/ofizyxsijdjoqm8cgj1l.jpg";

var reader = new FileReader();


reader.onload = function(event) {
	var theText = event.target.result;
	// document.getElementById("contenuto").innerHTML = testo;
	theText = theText.substr(4, 100);
	alert(theText);
};

reader.readAsText(file);

</script>


<script>

const xmpReader = require('xmp-reader');

alert("oooooooo");
/*
getXmpMetadata(imgPath) {
	xmpReader.fromFile(imgPath, (err, data) => {
	  if (err) alt(err);
	  else printObject(data);
	});
}
*/


var imgPath = "https://res.cloudinary.com/alessdelo/image/upload/v1588515010/alessdelo/360/ofizyxsijdjoqm8cgj1l.jpg";

printObject(xmpReader);

xmpReader.fromFile(imgPath).then(
  (data) => printObject(data),
  (err) => printObject(err)
);

alert("iiiiiiiii");

</script>
<script>

alert("qqqqq");

window.onload=getExifAllData("img1");

	function getExifAllData(imgID) {
	    var targetImg = document.getElementById(imgID);
	    EXIF.getData(targetImg, function() {
		var allMetaData = EXIF.getAllTags(this);
		printObject(allMetaData);
		theText.innerHTML = textFromObject(allMetaData.thumbnail.blob);
	    });
	}  
	
	
	function getExifByTags(imgID) {	
	    var targetImg = document.getElementById(imgID);
	    EXIF.getData(targetImg, function() {
		var make = EXIF.getTag(this, "Make");
		var model = EXIF.getTag(this, "Model");
		var makeAndModel = document.getElementById("makeAndModel");
		makeAndModel.innerHTML = `${make} ${model}`;
	    });
	}  	

	function getExif2() {
	
		/*
	    var img2 = document.getElementById("img2");
	    EXIF.getData(img2, function() {
		var make = EXIF.getTag(this, "Make");
		var model = EXIF.getTag(this, "Model");
		var makeAndModel = document.getElementById("makeAndModel");
		makeAndModel.innerHTML = `${make} ${model}`;
	    });
		*/

	    var img1 = document.getElementById("img1");
	    EXIF.getData(img1, function() {
		var allMetaData = EXIF.getAllTags(this);
		printObject(allMetaData);
		// var allMetaDataSpan = document.getElementById("allMetaDataSpan");
		// allMetaDataSpan.innerHTML = JSON.stringify(allMetaData, null, "\t");
	    });
	}      
      
      
 alert("zzzzzzz");     
      
</script>
